* {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

main {
  flex: 1;
  /* background-image: url("images/stones.jpg"); */
  background-color: #e65100;
  padding-bottom: 60px;
}

div .link {
  text-decoration: none;
  color: white;
}

.container {
  margin-bottom: 30px;
}

.card {
  color: white;
  background-color: #263238;
}

.card-container {
  margin-top: 50px;
  margin-bottom: 30px;
}

.card-container h2 {
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.dashboard-heading {
  margin-top: 30px;
  text-align: center;
}

.navbar-brand {
  font-family: 'Libre Baskerville', serif;
}

.navbar {
  background-color: #263238;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-brand:hover {
  color: #e65100;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #e65100;
}

.btn-outline-success {
  color: #e65100;
  border-color: #e65100;
  margin-left: 10px;
}

.btn-outline-success:hover {
  background-color: #e65100;
  border-color: #263238;
}

.dropleft .btn-secondary {
  background-color: #263238;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

.carousel-indicators li {
  color: #000000;
}

@media only screen and (max-width: 849px) {
  .custom-form-style {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 850px) {
  .form-inline .form-control {
    width: 350px;
    margin-left: 75px;
  }

  .custom-form-style {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 850px) and (max-width: 1100px) {
  .form-inline .form-control {
    width: 250px;
    margin-left: 80px;
  }
}

@media only screen and (min-width: 1101px) {
  .form-inline .form-control {
    width: 300px;
    margin-left:90px;
  }

  .custom-form-style {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media only screen and (min-width: 1250px) {
  .form-inline .form-control {
    width: 450px;
    margin-left: 140px;
  }

  .custom-form-style {
    margin-left: 300px;
    margin-right: 300px;
  }
}

.form-control:focus {
  border-color: #e65100;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-inline .custom-select {
  width: 150px;
}

.custom-form-style {
  margin-top: 60px;
  display: block;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.business-form-style {
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
  background-color: #ffffff;
  opacity: 0.8;
  filter: alpha(opacity=60);
  padding: 25px 20px;
  border-radius: 10px;
}

.has-error #control-label {
  color: red;
}

.has-error .form-control {
  border-color: red;
}

.has-error .custom-select {
  border-color: red;
}

.has-error .help-block {
  color: red;
  font-weight: bold;
}

.help-block {
  color: red;
  font-weight: bold;
}

.account-block {
  line-height: 45px;
  font-size: 20px;
}

.account-block a {
  color: #e65100;
}

.alert {
  margin-top: 15px;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #263238;
  border-bottom: 14px solid #263238;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#form-spinner {
  z-index: 1;
  width: 20px;
  height: 20px;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #263238;
  border-bottom: 6px solid #263238;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.custom-form-style .form-group {
  padding-bottom: 10px;
}

.custom-form-style .form-group input {
  color: black;
  font-weight: bold;
}

.custom-form-style .form-group label {
  color: black;
  font-weight: bold;
}

.dashboard-card {
  width: 16rem;
  border-radius: 7px;
  margin-left: 10px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 720px) {
  .dashboard-card {
    width: 15rem;
    border-radius: 7px;
    margin-top: 70px;
  }

  .search-result-title {
    font-size: 20px;
    font-weight: bold;
  }
}

.card-header {
  padding-top: 10px;
  padding-bottom: 0;
}

.card-title {
  font-weight: bold;
}

.card-style p {
  margin-bottom: 4px;
}

.card-style i {
  padding-right: 30px;
}

.list-unstyled {
  margin-top: 0;
  margin-bottom: 0;
}

.business-card {
  width: 17rem;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
  margin-bottom: 15px;
}

.business-card img {
  height: 135px;
}

.fa-circle {
  color: #263238;
}

.card-icon-style p i {
  color: #e65100;
}

.fa-stack-1x {
  color: #e65100;
}

.dropdown-menu {
  width: 30px;
}

#permission-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color:  #263238;
  color: white;
  border-radius: 5px;
}

#permission-button:hover {
  color: #e65100;
}

#submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.textcase {
  text-transform: capitalize;
}

#no-business-found {
  margin-top: 15%;
}

.active-page {
  border: 3px solid green;
  color: red;
}

.page-numbers {
  margin-bottom: 15px;
}

.page-numbers .list-inline-item {
  background-color: #263238;
  padding: 5px 10px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

.profile-card {
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-details {
  font-weight: bold;
  font-size: 18px;
  padding-right: 15px;
}

.email-style {
  margin-right: 29px;
}

.profile-address {
  margin-right: 5px;
}

.profile-location {
  margin-right: 4px;
}

.card-info li h4 {
  font-size: 17px;
}

.address {
  padding-left: 6px;
}

.location {
  padding-left: 3px;
}

.list-group-item {
  color: black;
}

.user-avatar {
  margin-right: 15px;
}

.reviewer {
  font-weight: bold;
  font-size: 17px;
}

.blockquote-footer, .review-messgae {
  padding-left: 44px;
  font-size: 15px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #263238;
  color: white;
}

footer .container {
  padding-top: 20px;
}

footer .container a {
  text-decoration: none;
  color: #ffffff;
}
