<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/style.css"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
      <div class="navbar-fixed">
        <nav class="blue-grey darken-4">
          <div class="container">
         <div class="nav-wrapper">
           <a href="index.html" class="brand-logo">WeConnect</a>
           <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
           <ul class="right hide-on-med-and-down">
             <li><a href="login.html">Login</a></li>
             <li><a href="signup.html">Signup</a></li>
           </ul>
           <ul class="side-nav blue-grey darken-1" id="mobile-demo">
              <li><div class="userView">
                <div class="background">
                  <img src="images/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/avatar.png"></a>
                <a href="#!name"><span class="white-text name"></span></a>
                <a href="#!email"><span class="white-text email"></span></a>
              </div></li>
              <li><a href="signup.html">Signup</a></li>
           </ul>
         </div>
        </div>
       </nav>
      </div>


    <div class="row">
      <div class="col s12">
        <form>
          <div class="input-field">
            <input id="search" type="search" required>
            <i class="material-icons">search</i>
            <label for="search">Search</label>
          </div>
        </form>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col s10 offset-s1 m4 l4">
        <div class="card sticky-action small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
            <div class="fixed-action-btn click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
              <a class="btn-floating btn blue-grey darken-4">
                <i class="material-icons">menu</i>
              </a>
              <ul>
              <li><a class="btn-floating blue-grey darken-2
                tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                <i class="material-icons">delete</i></a></li>
                <li><a class="btn-floating blue-grey darken-2
                  tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                   href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
              </ul>
            </div>
          <div class="card-content">
            <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
            <div class="card-action">
              <p><a id="action-color" href="register-business.html">View profile</a></p>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
            <div class="divider"></div>
            <div class="divider"></div>
            <p><strong>Name:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Email:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Location</strong> Landaf</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m4 l4">
        <div class="card sticky-action small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
            <div class="fixed-action-btn click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
              <a class="btn-floating btn blue-grey darken-4">
                <i class="material-icons">menu</i>
              </a>
              <ul>
              <li><a class="btn-floating blue-grey darken-2
                tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                <i class="material-icons">delete</i></a></li>
                <li><a class="btn-floating blue-grey darken-2
                  tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                   href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
              </ul>
            </div>
          <div class="card-content">
            <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
            <div class="card-action">
              <p><a id="action-color" href="register-business.html">View profile</a></p>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
            <div class="divider"></div>
            <div class="divider"></div>
            <p><strong>Name:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Email:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Location</strong> Landaf</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m4 l4">
        <div class="card sticky-action small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
            <div class="fixed-action-btn click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
              <a class="btn-floating btn blue-grey darken-4">
                <i class="material-icons">menu</i>
              </a>
              <ul>
              <li><a class="btn-floating blue-grey darken-2
                tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                <i class="material-icons">delete</i></a></li>
                <li><a class="btn-floating blue-grey darken-2
                  tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                   href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
              </ul>
            </div>
          <div class="card-content">
            <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
            <div class="card-action">
              <p><a id="action-color" href="register-business.html">View profile</a></p>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
            <div class="divider"></div>
            <div class="divider"></div>
            <p><strong>Name:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Email:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Location</strong> Landaf</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m4 l4">
        <div class="card sticky-action small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
            <div class="fixed-action-btn click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
              <a class="btn-floating btn blue-grey darken-4">
                <i class="material-icons">menu</i>
              </a>
              <ul>
              <li><a class="btn-floating blue-grey darken-2
                tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                <i class="material-icons">delete</i></a></li>
                <li><a class="btn-floating blue-grey darken-2
                  tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                   href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
              </ul>
            </div>
          <div class="card-content">
            <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
            <div class="card-action">
              <p><a id="action-color" href="register-business.html">View profile</a></p>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
            <div class="divider"></div>
            <div class="divider"></div>
            <p><strong>Name:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Email:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Location</strong> Landaf</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m4 l4">
        <div class="card sticky-action small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
            <div class="fixed-action-btn click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
              <a class="btn-floating btn blue-grey darken-4">
                <i class="material-icons">menu</i>
              </a>
              <ul>
              <li><a class="btn-floating blue-grey darken-2
                tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                <i class="material-icons">delete</i></a></li>
                <li><a class="btn-floating blue-grey darken-2
                  tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                   href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
              </ul>
            </div>
          <div class="card-content">
            <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
            <div class="card-action">
              <p><a id="action-color" href="register-business.html">View profile</a></p>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
            <div class="divider"></div>
            <div class="divider"></div>
            <p><strong>Name:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Email:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Location</strong> Landaf</p>
          </div>
        </div>
      </div>

      <div class="col s10 offset-s1 m4 l4">
        <div class="card sticky-action small hoverable">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="images/office.jpg">
          </div>
            <div class="fixed-action-btn click-to-toggle" style="position:relative; float:right; bottom:35px; right:10px">
              <a class="btn-floating btn blue-grey darken-4">
                <i class="material-icons">menu</i>
              </a>
              <ul>
              <li><a class="btn-floating blue-grey darken-2
                tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                <i class="material-icons">delete</i></a></li>
                <li><a class="btn-floating blue-grey darken-2
                  tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                   href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
              </ul>
            </div>
          <div class="card-content">
            <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
            <div class="card-action">
              <p><a id="action-color" href="register-business.html">View profile</a></p>
            </div>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
            <div class="divider"></div>
            <div class="divider"></div>
            <p><strong>Name:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Email:</strong> Landaf</p>
            <div class="divider"></div>
            <p><strong>Location</strong> Landaf</p>
          </div>
        </div>
      </div>
    </div>
  </div>


    <footer class="page-footer blue-grey darken-3">
      <div class="container">
        <div class="row">
        </div>
      </div>
        <div class="footer-copyright blue-grey darken-4">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
    </footer>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
    </body>
  </html>
