<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/style.css"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body style="background: url(images/stone-sculptures.jpg); background-size: cover;">
        <nav class="blue-grey darken-4">
          <div class="container">
         <div class="nav-wrapper">
           <a href="index.html" class="brand-logo">WeConnect</a>
           <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
           <ul class="right hide-on-med-and-down">
             <li><a href="login.html">Login</a></li>
             <li><a href="signup.html">Signup</a></li>
           </ul>
           <ul class="side-nav blue-grey darken-1" id="mobile-demo">
              <li><div class="userView">
                <div class="background">
                  <img src="images/office.jpg">
                </div>
                <a href="#!user"><img class="circle" src="images/avatar.png"></a>
                <a href="#!name"><span class="white-text name"></span></a>
                <a href="#!email"><span class="white-text email"></span></a>
              </div></li>
              <li><a href="signup.html">Signup</a></li>
           </ul>
         </div>
        </div>
       </nav>

      <div class="form-padding" id="input-text-style">
        <form class="col s12" method="get" action="/businesses/">
          <div class="row">
            <div class="input-field col s12 m6 offset-m3 l4 offset-l4">
              <i class="material-icons prefix">search</i>
              <input id="icon-prefix search" type="text" required>
              <label  id="label-color" for="icon-prefix name">Filter by location or category</label>
            </div>
          </div>
        </form>
      </div>

      <div class="container">
        <div class="row">
          <div class="col s10 offset-s1 m4 l4">
            <div class="card sticky-action small hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
                <div class="fixed-action-btn" style="position:relative; float:right; bottom:35px; right:10px">
                  <a class="btn-floating btn orange darken-4">
                    <i class="material-icons">menu</i>
                  </a>
                  <ul>
                  <li><a class="btn-floating orange accent-4
                    tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                    <i class="material-icons">delete</i></a></li>
                    <li><a class="btn-floating orange accent-4
                      tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                       href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
                  </ul>
                </div>
              <div class="card-content">
                <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
                <div class="card-action">
                  <p><a id="action-color" href="business-profile.html">View profile</a></p>
                </div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
                <div class="divider"></div>
                <div class="divider"></div>
                <p><strong>Name:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Email:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Location</strong> Landaf</p>
              </div>
            </div>
          </div>
          <div class="col s10 offset-s1 m4 l4">
            <div class="card sticky-action small hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
                <div class="fixed-action-btn" style="position:relative; float:right; bottom:35px; right:10px">
                  <a class="btn-floating btn orange darken-4">
                    <i class="material-icons">menu</i>
                  </a>
                  <ul>
                  <li><a class="btn-floating orange accent-4
                    tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                    <i class="material-icons">delete</i></a></li>
                    <li><a class="btn-floating orange accent-4
                      tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                       href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
                  </ul>
                </div>
              <div class="card-content">
                <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
                <div class="card-action">
                  <p><a id="action-color" href="business-profile.html">View profile</a></p>
                </div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
                <div class="divider"></div>
                <div class="divider"></div>
                <p><strong>Name:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Email:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Location</strong> Landaf</p>
              </div>
            </div>
          </div>
          <div class="col s10 offset-s1 m4 l4">
            <div class="card sticky-action small hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
                <div class="fixed-action-btn" style="position:relative; float:right; bottom:35px; right:10px">
                  <a class="btn-floating btn orange darken-4">
                    <i class="material-icons">menu</i>
                  </a>
                  <ul>
                  <li><a class="btn-floating orange accent-4
                    tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                    <i class="material-icons">delete</i></a></li>
                    <li><a class="btn-floating orange accent-4
                      tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                       href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
                  </ul>
                </div>
              <div class="card-content">
                <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
                <div class="card-action">
                  <p><a id="action-color" href="business-profile.html">View profile</a></p>
                </div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
                <div class="divider"></div>
                <div class="divider"></div>
                <p><strong>Name:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Email:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Location</strong> Landaf</p>
              </div>
            </div>
          </div>
          <div class="col s10 offset-s1 m4 l4">
            <div class="card sticky-action small hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
                <div class="fixed-action-btn" style="position:relative; float:right; bottom:35px; right:10px">
                  <a class="btn-floating btn orange darken-4">
                    <i class="material-icons">menu</i>
                  </a>
                  <ul>
                  <li><a class="btn-floating orange accent-4
                    tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                    <i class="material-icons">delete</i></a></li>
                    <li><a class="btn-floating orange accent-4
                      tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                       href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
                  </ul>
                </div>
              <div class="card-content">
                <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
                <div class="card-action">
                  <p><a id="action-color" href="business-profile.html">View profile</a></p>
                </div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
                <div class="divider"></div>
                <div class="divider"></div>
                <p><strong>Name:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Email:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Location</strong> Landaf</p>
              </div>
            </div>
          </div>
          <div class="col s10 offset-s1 m4 l4">
            <div class="card sticky-action small hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
                <div class="fixed-action-btn" style="position:relative; float:right; bottom:35px; right:10px">
                  <a class="btn-floating btn orange darken-4">
                    <i class="material-icons">menu</i>
                  </a>
                  <ul>
                  <li><a class="btn-floating orange accent-4
                    tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                    <i class="material-icons">delete</i></a></li>
                    <li><a class="btn-floating orange accent-4
                      tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                       href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
                  </ul>
                </div>
              <div class="card-content">
                <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
                <div class="card-action">
                  <p><a id="action-color" href="business-profile.html">View profile</a></p>
                </div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
                <div class="divider"></div>
                <div class="divider"></div>
                <p><strong>Name:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Email:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Location</strong> Landaf</p>
              </div>
            </div>
          </div>
          <div class="col s10 offset-s1 m4 l4">
            <div class="card sticky-action small hoverable">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/office.jpg">
              </div>
                <div class="fixed-action-btn" style="position:relative; float:right; bottom:35px; right:10px">
                  <a class="btn-floating btn orange darken-4">
                    <i class="material-icons">menu</i>
                  </a>
                  <ul>
                  <li><a class="btn-floating orange accent-4
                    tooltipped" data-position="left" data-delay="50" data-tooltip="delete profile">
                    <i class="material-icons">delete</i></a></li>
                    <li><a class="btn-floating orange accent-4
                      tooltipped" data-position="left" data-delay="50" data-tooltip="edit profile"
                       href="register-business.html"><i class="material-icons">mode_edit</i></a></li>
                  </ul>
                </div>
              <div class="card-content">
                <span class="card-title activator" id="business-card">Business name<i class="material-icons right">more_vert</i></span>
                <div class="card-action">
                  <p><a id="action-color" href="business-profile.html">View profile</a></p>
                </div>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Business details</strong><i class="material-icons right">close</i></span>
                <div class="divider"></div>
                <div class="divider"></div>
                <p><strong>Name:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Email:</strong> Landaf</p>
                <div class="divider"></div>
                <p><strong>Location</strong> Landaf</p>
              </div>
            </div>
          </div>
        </div>
      </div>


    <footer class="page-footer orange darken-4">
      <div class="container">
        <div class="row">
        </div>
      </div>
        <div class="footer-copyright blue-grey darken-4">
          <div class="container">
          © 2014 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
    </footer>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/main.js"></script>
    </body>
  </html>
