<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="background: url(images/stone-sculptures.jpg); background-size: cover;">
    <nav class="blue-grey darken-4">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo">WeConnect</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li class="hover-effect"><a href="login.html">Login</a></li>
                <li class="hover-effect"><a href="signup.html">Signup</a></li>
            </ul>
            <ul class="side-nav blue-grey darken-1" id="mobile-demo">
                <li>
                    <div class="userView">
                        <div class="background">
                            <img src="images/office.jpg">
                        </div>
                        <a href="#!user"><img class="circle" src="images/avatar.png"></a>
                        <a href="#!name"><span class="white-text name"></span></a>
                        <a href="#!email"><span class="white-text email"></span></a>
                    </div>
                </li>
                <li><a href="login.html">Login</a></li>
            </ul>
        </div>
    </nav>


    <div class="row">
      <div class="col s12 offset-m2 m7 offset-l3 l7">
            <div id="basic-details"  class="section scrollspy">
                <div class="card">
                    <div id="basic-details" class="section scrollspy">
                        <div class="card-content">
                            <span class="card-title"><strong>Leah's place</strong></span>
                            <div class="black-text">
                                <div class="divider"></div>
                                <div class="divider"></div>
                                <div class="section">
                                    <h6><strong>Email</strong></h6>
                                    <p>anagespet@anagespor.inc</p>
                                </div>
                                <div class="divider"></div>
                                <div class="section">
                                    <h6><strong>Location</strong></h6>
                                    <p>2 close allen rd davinci isle</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div   class="col s12 offset-m2 m7 offset-l3 l7">
            <div id="services" class="section scrollspy">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><strong>Services We Render</strong></span>
                        <div class="black-text">
                            Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Fusce pharetra convallis urna. Ut non enim eleifend felis pretium feugiat. Maecenas malesuada. Aliquam eu nunc. Praesent nec nisl a purus blandit viverra. Pellentesque posuere. Vestibulum
                            ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; elit erat euismod orci, ac placerat dolor lectus quis orci. Maecenas egestas arcu quis ligula mattis placerat. Aliquam lorem ante, dapibus in, viverra
                            quis, feugiat a, tellus. Vestibulum suscipit nulla quis orci.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col hide-on-small-only m3 l2" style="background:white; opacity:0.6; width:200px; position:fixed; bottom:300px;">
            <ul class="section table-of-contents" id="scrollspy-text">
                <li><a href="#basic-details">Basic details</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#reviews">Reviews</a></li>
            </ul>
        </div>


       <div class="col s12 offset-m2 m7 offset-l3 l7">
         <button data-target="modal1" class="btn submit-btn waves-effect waves-light orange darken-4 modal-trigger">Add a review</button>
         <div id="modal1" class="modal">
        <div class="modal-content">
          <h5>Post a review</h5>
          <form method="post" action="api/v1">
              <div class="row">
                  <div class="input-field col l10">
                      <i class="material-icons prefix">account_circle</i>
                      <input id=" name" type="text" class="validate" required>
                      <label for="icon-prefix name" id="label-color">Review</label>
                  </div>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn submit-review waves-effect waves-light orange darken-4" type="submit" name="action">
              <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
       </div>

        <div class="col s12 offset-m2 m7 offset-l3 l7">
            <div id="reviews" class="section scrollspy">
                <h5 style="color: #e65100;">Reviews</h5>
                    <!-- <div class="card">
                        <div class="card-content">
                            <span class="card-title"><i class="material-icons">account_circle</i><strong style="margin-left:20px;">Michael</strong></span>
                            <div class="divider"></div>
                            <div class="black-text" style="margin-top:20px; margin-left:45px;">
                                Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Fusce pharetra convallis urna. Ut non enim eleifend felis pretium feugiat. Maecenas malesuada. Aliquam eu nunc. Praesent nec nisl a purus blandit viverra. Pellentesque posuere. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; elit erat euismod orci, ac placerat dolor lectus quis orci.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><i class="material-icons">account_circle</i><strong style="margin-left:20px;">Michael</strong></span>
                            <div class="divider"></div>
                            <div class="black-text" style="margin-top:20px; margin-left:45px;">
                                Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Fusce pharetra convallis urna. Ut non enim eleifend felis pretium feugiat. Maecenas malesuada. Aliquam eu nunc. Praesent nec nisl a purus blandit viverra. Pellentesque posuere. Vestibulum
                                ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; elit erat euismod orci, ac placerat dolor lectus quis orci.
                            </div>
                        </div>
                    </div> -->
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title"><i class="material-icons">account_circle</i><strong style="margin-left:20px;">Michael</strong></span>
                            <div class="divider"></div>
                            <div class="black-text" style="margin-top:20px; margin-left:45px;">
                                Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Fusce pharetra convallis urna. Ut non enim eleifend felis pretium feugiat. Maecenas malesuada.
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="card-title"><i class="material-icons">account_circle</i><strong style="margin-left:20px;">Michael</strong></span>
                            <div class="divider"></div>
                            <div class="black-text" style="margin-top:20px; margin-left:45px;">
                                Quisque libero metus, condimentum nec, tempor a, commodo mollis, magna. Fusce pharetra convallis urna. Ut non enim eleifend felis pretium feugiat. Maecenas malesuada.
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>


    <footer class="page-footer  blue-grey darken-4">
        <div class="footer-copyright">
            <div class="container">
                © 2018
                <a class="grey-text text-lighten-4 right" href="https://weconnect-api-service.herokuapp.com/api-docs">Api docs</a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
