<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Krona+One|Libre+Baskerville" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav class="blue-grey darken-4">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">WeConnect</a>
                <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li style="width: 550px; padding-right:80px;"><form class="col s12" method="get" action="/businesses">
                        <div class="input-field col s12 m6 offset-m3 l4 offset-l4">
                          <i class="material-icons prefix">search</i>
                          <input id="icon-prefix search" type="text" required>
                          <label  id="label-color" for="icon-prefix name">Filter by location or category</label>
                        </div>
                    </form></li>
                    <li class="hover-effect"><a href="login.html">Login</a></li>
                    <li class="hover-effect"><a href="signup.html">Signup</a></li>
                    <li class="hover-effect"><a href="register-business.html">Register business</a></li>
                </ul>
                <ul class="side-nav blue-grey darken-1" id="mobile-demo">
                    <li>
                        <div class="userView">
                            <div class="background">
                                <img src="images/office.jpg">
                            </div>
                            <a href="#!user"><img class="circle" src="images/avatar.png"></a>
                            <a href="#!name"><span class="white-text name"></span></a>
                            <a href="#!email"><span class="white-text email"></span></a>
                        </div>
                    </li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Signup</a></li>
                    <li><a href="register-business.html">Register business</a></li>
                </ul>
            </div>
    </nav>


    <div class="parallax-container" style="background: rgba(98, 116, 124, 0.3);">
        <div class="parallax"><img class="responsive-img" src="images/tokyo-at-night.jpg">

        </div>
        <div class="parallax-text">
            <p>Bringing you and businesses together</p>
        </div>
    </div>



    <div class="row explore-btn">
        <div class="col s12 m12 l12">
            <a href="businesses.html" class="waves-effect waves-light btn-large
            orange darken-4 z-depth-5">
                <i class="material-icons right">explore</i> Explore
            </a>
        </div>
    </div>

    <div class="row">

        <div class="col s12 l4">
            <div class="center promo">
                <i class="material-icons">group_add</i>
                <p class="promo-caption">Fast and reliable</p>
                <p class="light center">We aim to bring businesses and people together with ease, with a smooth and easy to use design </p>
            </div>
        </div>

        <div class="col s12 l4">
            <div class="center promo">
                <i class="material-icons">flash_on</i>
                <p class="promo-caption">Easy to understand</p>
                <p class="light center">The app interface is built such that anyone can use it, with interactive properties to keep you engaged.</p>
            </div>
        </div>

        <div class="col s12 l4">
            <div class="center promo">
                <i class="material-icons">high_quality</i>
                <p class="promo-caption">Seamless experience</p>
                <p class="light center">The framework used ensures a smooth, seamless and sleek experience.</p>
            </div>
        </div>

    </div>


    <footer class="page-footer  blue-grey darken-4">
        <div class="footer-copyright">
            <div class="container">
                © 2018
                <a class="grey-text text-lighten-4 right" href="https://weconnect-api-service.herokuapp.com/api-docs">Api docs</a>
            </div>
        </div>
    </footer>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
