body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper ul li:hover {
    background-color: #e65100;
}

.nav-wrapper ul li.active {
    background-color: #e65100;
}

#input-text-style {
    color: black;
    font-weight: 600;
}

#label-color {
    font-weight: 700;
    color: #e65100;
}

.form-padding {
    margin-top: 50px;
}

@media only screen and (min-width: 773px) {
    .form-padding {
        margin-top: 100px;
    }
}

.signup-form {
    margin-top: 30px;
}

@media only screen and (min-width: 773px) {
    .signup-form {
        margin-top: 60px;
    }
}

.promo {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.promo i {
    display: block;
    color: #e65100;
    font-size: 7rem;
}

.promo-caption {
    font-size: 1.5rem;
    font-weight: 500;
}

#business-card {
    font-size: 1rem;
    font-weight: 500;
}

.custom-card-title {
    text-align: center;
}

#action-color {
    font-size: 12px;
    font-weight: 500;
    color: #ff6d00;
}

#action-color:hover {
    font-size: 15px;
    color: #e65100;
}

.explore-btn {
    position: relative;
    bottom: 200px;
}

.explore-btn i {
    font-weight: 500;
}

.submit-btn {
    margin-left: 25px;
    margin-top: 20px;
}

.modal {
    width: 10%;
}

.searchbar {
    width: 20%;
}

.scrollspy-float {
    position: absolute;
    top: 700px;
}
